html {
	font-size: 100%;
}

body {
	max-width: 40em;
	margin: 0 auto;
	background-color: black;
	color: white; 
	font-family: times, serif;
	font-size: 1.25em;
	line-height: 26px;
}

.quote {
	font-style: italic;
	padding: 10px;
}

a {
	color: gray;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: lightgray;
}

/********** Small devices only **********/
@media (max-width: 992px) {
	body {
		padding: 0px 15px 15px 15px;
		word-break: break-word;
	}
}

a.button {
  background-color: gray;
  border-radius: 4px;
  color: black;
  padding: 4px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

a.button:hover {
	background-color: white;
	text-decoration: none;
}


pre code {
	background-color: #404040;
	border: 1px solid black;
	padding: 15px;
	color: white;
	border-radius: 10px;
	display: block;
} 

.sm_code {
	background-color: #404040;
	color: white;
	padding: 2px;
	border-radius: 4px;
	display: inline-block;
	margin: 1px;
}
