body {
	max-width: 40em;
	margin: 0 auto;
	background-color: black;
	color: white; 
}

.quote {
	font-style: italic;
	padding: 10px;
}

a {
	color: gray;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: lightgray;
}

/********** Small devices only **********/
@media (max-width: 992px) {
	body {
		padding: 10px;
	}
}